<div class="login-box">
<div class="login-container">
    <form action="#" method="post">
      <label for="account_email">Username:</label>
      <input type="text" id="account_email" name="account_email" required>
  
      <label for="account_password">Password:</label>
      <input type="password" id="account_password" name="account_password" required>
  
      <button type="submit">Submit</button>
    </form>
    <p>No Account? <a href="./account/sign-up">Sign-up</a></p>
  </div>
  </div>