<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%- messages() %>
<div class="login-box">
<div class="form-container">
    <form action="/account/login" method="post">
      <label for="account_email">Username:</label>
      <input type="email" id="account_email" name="account_email" required>
  
      <label for="account_password">Password:</label>
      <input type="password" id="account_password" name="account_password" title="Passwords must be a minimum of 12 characters and include 1 capital letter, 1 number, and 1 special character" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
      <div class="password-info">Passwords must be a minimum of 12 characters and include 1 capital letter, 1 number, and 1 special character</div>
      <button type="submit">Submit</button>
    </form>
    <p>No Account? <a href="./register">Sign-up</a></p>
  </div>
</div>