<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App - Chris Mills</p>
  <a href="../../contact.html">Contact Us (404 Error)</a>
  <a href="../../inv/type/100">500 Server Error</a>
</footer>