<h1>Welcome to CSE Motors!</h1>
<div id="banner">
    <img src="/images/vehicles/delorean.jpg" alt="The Iconic Delorian">
    <div id="banner_vehicle_info">
        <h2 class="blueTxt">DMC Delorian</h2>
        <p class="blueTxt">3 Cup holders<br>Superman doors<br>Fuzzy dice!</p>
        <input type="submit" id="banner_submit" name="submit" value="Own Today">
    </div>
</div>
<div id="vehicle_info">
    
    <div id="vehicle_reviews">
        <h2>DMC Delorian Reviews</h2>
        <ul>
            <li>"So fast it's almost like travelling in time" (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
    <div id="vehicle_upgrades">
        <h2>Delorian Upgrades</h2>
        <ul>
            <li>
                <div class="upgrade-content">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor Icon">
                </div>
                <span><a href="#">Flux Capacitor</a></span>
            </li>
            <li>
                <div class="upgrade-content">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals Icon">
                </div>
                <span><a href="#">Flame Decals</a></span>
            </li>
            <li>
                <div class="upgrade-content">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker Icon">
                </div>
                <span><a href="#">Bumper Stickers</a></span>
            </li>
            <li>
                <div class="upgrade-content">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap Icon">
                </div>
                <span><a href="#">Hub Caps</a></span>
            </li>
        </ul>
    </div>
</div>