:root {
  --sitemain: rgb(201, 17, 17);
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url('../images/site/checkerboard.jpg');

}

.blueTxt {
  color: var(--sitemain);
}

h1 {
  padding: 0;
  padding-left: 1rem;
  margin: 0;
}

h2 {
  font-weight: bold;
}

#wrapper {
  border: 5px solid var(--sitemain);
  border-radius: 1rem;
  background-color: white;
  padding: 0 10px;
  margin: 3rem;
}

header a {
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: space-evenly;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(207,17,17,1) 15%, rgba(207,17,17,1) 85%, rgba(45,0,0,1) 100%);
  padding: 1rem;
  list-style-type: none;
  clear: both;
  margin: 0;
  margin-bottom: 0.5rem;
}

nav a {
  display: inline-block;
  height: 100%;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

nav ul li {
  padding: 10px;
  width: auto;
  text-align: center;
}

nav ul li:hover {
  background: white;
  color: black;
  transition: background-color 0.5s ease; /* Smooth transition on hover */
}

nav ul li:hover a {
  color: inherit;
}

.siteName {
  display: block;
  float: left;
  padding: 1rem;
  font-size: 2rem;
}

#tools {
  display: block;
  float: right;
  padding: 1rem;
  font-size: 1.2rem;
}

#banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

#banner img {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 0 3rem;
  justify-self: center;
  max-width: 100%;
}

#banner_vehicle_info {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(255,255,255,0.5);
  padding: 0 2rem;
  width: auto;
}


#banner_submit {
  background-color: var(--sitemain);
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

  
#vehicle_upgrades ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#vehicle_upgrades li {
  padding: 20px;
  text-align: center;
}

#vehicle_upgrades img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#vehicle_upgrades .upgrade-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--sitemain);
  min-height: 100px;
}

#invWrapper {
  position: relative;
  display: flex;
  clear: both;
  overflow: auto;
}

#invItem_Image {
  display: block;
  float: left;
  padding: 2rem;
}

#invItem_Details {
  display: block;
  float: right;
  max-width: 50%;
}

.price {
  font-size: 64px;
  color: var(--sitemain);
  padding-right: 2rem;
  margin: 0;
}

#invItem_Price p {
  display: block;
  margin: 0;
  padding: 0;
}

.polaroid {
  position: relative;
  display: inline-block;
  margin: 2%; /* Use percentage for margin */
  padding: 2%; /* Use percentage for padding */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: rotate(-2deg);
  width: 100%; /* Use percentage for width */
}

.polaroid::before,
.polaroid::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 5px; /* Use percentage for height */
  background-color: #ccc;
  bottom: -3px;
}

.polaroid::before {
  left: 0;
}

.polaroid::after {
  right: 0;
}

/* Style for the image inside the polaroid */
.polaroid img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

footer {
  border-top: 1px solid rgb(50, 50, 50);
  margin-top: 1rem;
}

.copyright, footer a {
  display: inline-block;
  text-align: center;
  padding: 1rem;
  margin: 0;
}

#inv-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px; /* Adjust the gap between items as needed */
  max-width: 100%; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.inv-display {
  /* list-style-type: none; */
  padding: 0;
  /* flex: 0 0 calc(30% - 10px); Adjust the width of each item as needed, considering margin */
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 5px; /* Add spacing between items */
  box-sizing: border-box;
  max-width: 550px;
}

.inv-display img {
  max-width: 450px;
}

.inv-display a {
  text-decoration: none;
  color: black;
}

.inv-display a:hover {
  color: var(--sitemain);
}

#errorcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.errormsg {
  color: var(--sitemain);
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.errortext {
  font-size: 0.5rem;
  margin: 0;
}

.errorbody {
  margin: 1rem;
  font-size: 2rem;
}

.errorimg {
  max-width: 30%;
  margin: 0 auto;
}

