<!-- Check for a heading and display a heading and title if exists -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<% if (title) { %>
  <h1><%- title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<!-- Future functionality to display an error message -->
<%- messages() %>

<div class="center-container">
  <div class="form-container">
    <form action="/inv/add-classification" method="post">
      <label for="classification_name">Classification Name:</label>
      <input type="text" id="classification_name" name="classification_name" pattern="^[^\s!@#$%^&*]+$" required>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>'
